<div class="container">
  <% if @post %> 
    <h2>Edit a post</h2>
    <form action="/post/<%= @post.url %>/edit" method="post">
      <input type="text" name="post[email]" value=<%= @post.email %>>
      <input type="text" name="post[title]" value=<%= @post.title %>>
      <input type="text" name="post[description]" value=<%= @post.description %>>
      <input type="text" name="post[price]" value=<%= @post.price %>>
      <input type="submit" value="Submit">
    </form>

  <% else %>
    <h2>Create a post</h2>
    <form action="/create" method="post">
      <input type="text" name="post[email]" placeholder="Email">
      <input type="text" name="post[title]" placeholder="Title">
      <input type="text" name="post[description]" placeholder="Description">
      <input type="text" name="post[price]" placeholder="Price">
      <input type="text" name="post[category]" placeholder="Category">
      <input type="submit" value="Submit">
    </form>

  <% end %>
</div>

<a href="/">Homepage</a>
