<div class="container">
  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/create">Create Post</a></li>
    </ul>
  </nav>

  <% if @post; %><h2>Edit a post</h2><% end %>
  <% unless @post; %><h2>Create a post</h2><% end %>
  
  <% if @post %> 
    <h4>/post/<%= @post.url %>/edit - to edit</h4>
    <form action="/post/<%= @post.url %>/edit" method="post">
      <input type="text" name="post[email]" value="<%= @post.email %>">
      <input type="text" name="post[title]" value="<%= @post.title %>">
      <textarea name="post[description]" value=""><%= @post.description %></textarea>
      <input type="text" name="post[price]" value="<%= @post.price %>">
      <input type="submit" value="Submit">
    </form>

  <% else %>
    <form action="/create" method="post">
      <input type="text" name="post[email]" placeholder="Email">
      <input type="text" name="post[title]" placeholder="Title">
      <textarea name="post[description]" placeholder="Description"></textarea>
      <input type="text" name="post[price]" placeholder="Price">
      <input list="categories" name="post[category]" placeholder="Category">
      <input type="submit" value="Submit">
      <datalist id="categories">
        <% @categories.each do |category| %>
          <option value="<%= category.name %>">
        <% end %>
      </datalist>
    </form>

  <% end %>
</div>

